<!--<app-weather></app-weather>
<app-date></app-date>
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand">Weather App</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search By City..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>-->

<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video src={{srcUrl}} preload="true" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
    <h1>Weather App</h1>
    <app-date></app-date>
    <div class="form">
      <form>
        <div class="form-group">
          <label style="font-size: 2rem;margin-right:20px;"for="city">Enter City:</label>
          <!--<input type="text" id='city' name="city"  placeholder="City..." (input)="getForecast($event)">-->
          <input type="text" id='city' name="city"  placeholder="City..." [(ngModel)]="userInput">
          <button class="btn btn-primary btn-lg" style="margin-left:10px;"(click)="getForecast()">Get Weather</button>
        </div>
      </form>
    </div>
    <h1 style="font-size: 5rem;margin-top:100px;">{{cityName}}</h1>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-6 col-sm-12" style="text-align:left;padding:50px;">
        <h1 style="text-align:center;">Today</h1>
        <hr>
        <h1 style="font-size: 8rem;text-align: center;">{{currentTemp}}<span>&#176;</span></h1>
        <hr>
        <h3>High: {{currentHigh}}<span>&#176;</span></h3>
        <h3>Low: {{currentLow}}<span>&#176;</span></h3>
        <h3>Humidity: {{currentHumidity}}</h3>
        <h3>Condition: {{currentCondition}}</h3>
      </div>
      <div class="col-md-6 col-sm-12" style="text-align:left;padding:50px;">
        <h1 style="text-align:center;">Tomorrow</h1>
        <hr>
        <h1 style="font-size: 8rem;text-align:center;">{{nextDayTemp}}<span>&#176;</span> </h1>
        <hr>
        <h3>High: {{nextDayHigh}}<span>&#176;</span></h3>
        <h3>Low: {{nextDayLow}}<span>&#176;</span></h3>
        <h3>Humidity: {{nextDayHumidity}}</h3>
        <h3>Condition: {{nextDayCondition}}</h3>
      </div>
    </div>
  </div>
</header>
