/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}
